body{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
button{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: black;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    
}
#calculator{
 width: 100%;
font-family: monospace;
margin: 0 auto;
max-width: 350px;
overflow: hidden;
background-color: hsl(0, 0%, 15%);
border-radius: 20px;
padding: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#display{
    width: 100%;
    height: 80px;
    background-color: hsl(0, 0%, 100%);
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow-x: auto;
    border: none;
    font-family: monospace;
}
button:active{
    transform: scale(0.85);
}
.operator-btn{
    background-color: hsl(30, 100%, 50%);
}
.operator-btn:hover{
    background-color: hsl(30, 77%, 67%);
}   